body {
    margin: 0;
}

.nav {
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: grey;
    justify-content: space-around;
}

.gif {
    margin-top: 20px;


    height: 140px;
}

#books_container {
    margin: 20px;
    position: relative;

    min-height: 50vh;
    height: fit-content;
    display: flex;
    gap: 220px;
    justify-content: space-between;
    overflow-x: scroll;

}

#books_container div {
    margin: 15px;
    height: fit-content;
    width: 20vw;
    max-width: fit-content;
    flex-shrink: 0;

    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#books_container div img {
    height: 80%;
    width: 80%;
    margin: 8px;
}



#books_container div button {
    height: 30px;
    margin: 10px;
    display: flex;
    min-width: 1%;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    color: aliceblue;
}

#books_container div button:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    #books_container div button {
        font-size: 10px;
        /* Font size for smaller screens */
    }
}

a {
    text-decoration: none;
}

.cover:hover {
    background-color: grey;
}

.cover {
    transition: background-color 0.15s;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



/* contact us section */

#contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #000000;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* contact us end  */
